.wrapper {
  padding: 1.25rem 0;
}

.newStickerButton {
  background-color: var(--white);
  border: 4px dashed var(--black);
  color: var(--black);
  height: calc(100% - 14px);
  width: calc(100% - 14px - 1rem);
  margin: 0 auto 0 1rem;
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: var(--radius);
}
